.card-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;

    /* border: 1px solid blue; */

}

.card-comp>i{
    font-size: 2.4rem;
}

.card-comp>h2{
    color: #1E266D;
    margin: 2rem 0 .8rem;
}

.card-comp>p{
    text-align: center;
    width: 100%;
    color: #515867;
    font-size: 1rem;
    margin: 0;
}

@media only screen and (max-width:700px){
    .card-comp{
        max-width: 100%;
        margin-bottom: 4rem;
    }
}